<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method = "POST">
        <label >SepalWidthCm</label>
        <input type="text" name="sepalwidth" placeholder="Enter SepalWidth"><br><br>
        <label >PetalLengthCm</label>
        <input type="text" name="petallength" placeholder="Enter Petallength"><br><br>
        <label >PetalWidthCm</label>
        <input type="text" name="petalwidth" placeholder="Enter Petalwidth"><br><br>
        <label >Species</label>
        <input type="text" name="species" placeholder="Enter Species"><br><br>
        <input type="Submit" value="PREDICT">



    </form>
</body>
</html>